body 
{
  background-color: lightblue;
  font-family: Arial;
  font-size: 15px;
}
h1
{
  text-align: center;
}
.myForm {
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.8em;
color: red;
font-style: oblique;
width: 20em;
padding: 1em;
border: 1px solid #ccc;
}

.myForm * {
box-sizing: border-box;
}
